<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="f-logo" data-aos="zoom-in">
                    <a routerLink=""><img src="assets/images/logo.png" alt=""></a>
                    <p>Today, we keep people, property & assets
                        safe and secure, for many corporation.
                        Tomorrow, we will be doing it for you.</p>
                    <ul class="social_media">
                        <li><a class="facebook" href="https://www.facebook.com/solutions.orion" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/1132277/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="youtube" href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/Orion_Secure" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="quick_link" data-aos="zoom-in">
                    <h6>Quick Links</h6>
                    <img src="assets/images/header_bdr.png" alt="">
                    <ul>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Home</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Services</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Our Global Presence</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Careers</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Media</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="quick_link" data-aos="zoom-in">
                    <h6>Resource Center</h6>
                    <img src="assets/images/header_bdr.png" alt="">
                    <ul>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Compliance Information</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Forms Center</a></li>
                        <li><a routerLink=""><i class="fa fa-angle-double-right"></i> Statutory Compliance</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="f_contact" data-aos="zoom-in">
                    <h6>Contact Us</h6>
                    <img src="assets/images/header_bdr.png" alt="">
                    <ul>
                        <li><img src="assets/images/f_location.png" alt="">
                            Orion Security Solutions Pvt. Ltd.
                            <a routerLink="">#5E, 1st Floor, Jungi House, Street No. 5,
                                Shahpur Jat, New Delhi-110049 (INDIA)</a>
                        </li>
                        <li><img src="assets/images/f_phoone.png" alt="">
                            Phone us:
                            <a href="tel:+91- 11-26495662- 64">+91 997817833</a>
                        </li>
                        <li><img src="assets/images/f_email.png" alt="">
                            Email us:
                            <a href="mailto:info@orionsecure.co.in">info@orionsecure.co.in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-sm-left">
                    © Copyrights 2021 Orion Security Solutions Pvt. Ltd - All rights reserved.
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            <a routerLink="">Privacy Policy </a>
                        </li>|
                        <li>
                            <a routerLink="">Terms & Condition </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>