<div class="home_about sec_padd">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="zoom-in">
                <img src="assets/images/home_about.png" alt="">
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="heading mb-2">
                    <h5>About Us</h5>
                    <h2>Excellence Every Step Of The Way</h2>
                    <img src="assets/images/header_bdr.png" alt="">
                </div>
                <p>Orion Secure is a network of people, technology, expertise and experience that help our clients become smarter and safer. Whether your security needs are full-time, temporary or for special events, we assure you of industry leading service levels and outstanding customer service.</p>
                <div class="vision mt-2">
                    <h5>Vision</h5>
                    <p>Orion Secure endeavors to become the country’s most trusted and respected security and intelligence services company. </p>
                </div>
                <div class="vision">
                    <h5>Mision</h5>
                    <p>Orion Secure intends to continue providing its customers with trustworthy manpower and cutting-edge technologically advanced security solutions. </p>
                </div>
            </div>
        </div>
    </div>
</div>