<div class="home-services sec_padd">
    <div class="container">
        <div class="heading text-center mb-3 aos-init aos-animate" data-aos="zoom-in">
            <h5>Our Services</h5>
            <h2>Customized Security Solutions At Competitive Prices</h2>
            <img src="assets/images/header_bdr.png" alt="">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon1.png" alt="" class="img1">
                        <img src="assets/images/service_icon1_gray.png" alt="" class="img2">
                        <h4>Manned Guarding</h4>
                        <p>Our security guards are trained to operate in a diverse range of situations and locations for both individual and enterprise clients.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon2_red.png" alt="" class="img1">
                        <img src="assets/images/service_icon2_gray.png" alt="" class="img2">
                        <h4>Technology &amp; System for Security</h4>
                        <p>We seamlessly integrate technological systems and intelligent devices to keep you secure 24x7.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon3_red.png" alt="" class="img1">
                        <img src="assets/images/service_icon3_gray.png" alt="" class="img2">
                        <h4>Research &amp; Consultancy</h4>
                        <p>We offer consultancy services to assist our clients and provide a safe and secure environments for their people and assets.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon4_red.png" alt="" class="img1">
                        <img src="assets/images/service_icon4_gray.png" alt="" class="img2">
                        <h4>Events &amp; Executive Protection</h4>
                        <p>We deploy teams trained in effective communications, access control, crowd control, and emergency response to provide your guests a safe and enjoyable experience.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon5_red.png" alt="" class="img1">
                        <img src="assets/images/service_icon5_gray.png" alt="" class="img2">
                        <h4>Investigation &amp; Verification</h4>
                        <p>We combine investigative screening resources with specialized vetting processes and system security to mitigate risk.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="scard aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <img src="assets/images/service_icon6_red.png" alt="" class="img1">
                        <img src="assets/images/service_icon6_gray.png" alt="" class="img2">
                        <h4>Facility Management</h4>
                        <p>Our Facility management solutions range from end-to-end integrated facility management solutions as well as stand-alone services.</p>
                        </a><a href="#" class="readm">Read More <i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn red-btn">View All Services</a>
            </div>
        </div>
    </div>
</div>