<div class="discover sec_padd">
    <div class="container">
        <div class="heading text-center mb-2 aos-init aos-animate" data-aos="zoom-in">
            <h5>Discover Our Expertise</h5>
            <h2>Superior Services with Continued Commitment</h2>
            <img src="assets/images/header_bdr.png" alt="">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="dcard text-center aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <span class="img1 icon"><img src="assets/images/discover_icon1.png" alt=""></span>
                        <span class="img2 icon"><img src="assets/images/discover_icon1_gray.png" alt=""></span>
                        <h4>A Higher Standard Of Protection</h4>
                        <p>With over 50 years of management experience within the private security industry, we are one of the first security companies to start equipping security guards with accredited courses approved by the GOI. </p>
                        <div class="bdr"><strong></strong></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="dcard text-center aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <span class="img1 icon"><img src="assets/images/discover_icon2.png" alt=""></span>
                        <span class="img2 icon"><img src="assets/images/discover_icon2_gray.png" alt=""></span>
                        <h4>Industry Leading Selection Process</h4>
                        <p>We don’t just place the newly trained security guard at the next available site or event, we place them where their skills and interpersonal traits fit the most.</p>
                        <div class="bdr"><strong></strong></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="dcard text-center aos-init aos-animate" data-aos="zoom-in">
                    <a href="#">
                        <span class="img1 icon"><img src="assets/images/discover_icon3.png" alt=""></span>
                        <span class="img2 icon"><img src="assets/images/discover_icon3_gray.png" alt=""></span>
                        <h4>Advanced &amp; Specialized Trainings</h4>
                        <p>We have an advanced training infrastructure in partnership with various states and Central Government of India under the aegis of National Skill Development Council.</p>
                        <div class="bdr"><strong>&nbsp;</strong></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Numbers Section Start -->

<div class="numbers">
    <div class="container">
        <div class="row">
            <div class="col-md-3 bdr">
                <div class="num aos-init" data-aos="zoom-in">
                    <h6 class="mt-2">Fully Compliant &amp; Certified
                        Service Provider</h6>
                </div>
            </div>
            <div class="col-md-3 bdr">
                <div class="num aos-init" data-aos="zoom-in">
                    <h5><span class="counter">1000</span> +</h5>
                <h6> Clients From
                    16+ Industries</h6>
                </div>
            </div>
            <div class="col-md-3 bdr">
                <div class="num aos-init" data-aos="zoom-in">
                    <h5><span class="counter">47</span> +</h5>
                <h6>Training Centers</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="num aos-init" data-aos="zoom-in">
                    <h5><span class="counter">30,000</span> +</h5>
                    <h6>Staff</h6></div>
            </div>
        </div>
    </div>
</div>