<div class="home_blog sec_padd">
    <div class="container">
        <div class="heading text-center mb-2" data-aos="zoom-in">
            <h5>Latest News</h5>
            <h2>From Our Desk</h2>
            <img src="assets/images/header_bdr.png" alt="">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog_card" data-aos="zoom-in">
                    <div class="image">
                        <a href="#"><img src="assets/images/news1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <div class="by">
                            <div class="date">
                                <i class="fa fa-calendar"></i>  03 March
                            </div>
                            <div class="name">By: Admin</div>
                        </div>
                        <h4><a href="#">Lorem Ipsum is simply dummy text</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy...</p>
                        <a href="#" class="readM">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_card" data-aos="zoom-in">
                    <div class="image">
                        <a href="#"><img src="assets/images/news2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <div class="by">
                            <div class="date">
                                <i class="fa fa-calendar"></i>  05 March
                            </div>
                            <div class="name">By: Admin</div>
                        </div>
                        <h4><a href="#">Lorem Ipsum is simply dummy text</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy...</p>
                        <a href="#" class="readM">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_card" data-aos="zoom-in">
                    <div class="image">
                        <a href="#"><img src="assets/images/news3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <div class="by">
                            <div class="date">
                               <i class="fa fa-calendar"></i> 20 March
                            </div>
                            <div class="name">By: Admin</div>
                        </div>
                        <h4><a href="#">Lorem Ipsum is simply dummy text</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy...</p>
                        <a href="#" class="readM">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="looking">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-3 mb-sm-0" data-aos="zoom-in">
                <div class="heading">
                    <h2>Looking for a career in the security industry?</h2>
                    <img src="assets/images/header_bdr.png" alt="">
                </div>
                <p>Join our team & start your career as a Orion Security Officer. It's our mission
                    to always recruit the Best Security Personals to join our team!</p>
                <a href="#" class="btn red-btn">Send Us Your CV</a>
            </div>
            <div class="col-md-6 text-center" data-aos="zoom-in">
                <div class="heading">
                    <h2>Download Our Corporate Brochure</h2>
                    <img src="assets/images/header_bdr.png" alt="">
                </div>
                <p>We believe in serving you by providing affordable, smart and exective class
                    security with the help of our well-trained professionals.</p>
                <a href="#" class="btn red-btn">Download Now</a>
            </div>
        </div>
    </div>
</div>